.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:11px;
    border-radius: 3px;
    background: none;
    border:none;
    height:28px;
    width: max-content;
    padding: 5px;
    font-weight: 600;
    color: var(--color-text-base);
    cursor: pointer;
}

.icon-button.icon-button-text {
    background-color: var(--color-bg-button-hover);

}

.icon-button.icon-button-text > span{
    font-weight: 500;
}


.icon-button:hover {
    background-color: var(--color-bg-button-hover);

}